@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.input-style {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #e2e8f0;
  padding: 0.875rem 1rem;
  outline: none;
  background: white;
}

.input-style:focus {
  border-color: #3f63f4;
}